@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'utils';
@import 'layout';

:root {
  --black: rgb(0, 0, 0);
  --light-black: rgb(20, 23, 26);
  --lighter-black: rgb(32, 35, 39);
  --dark-gray: rgb(47, 51, 54);
  --gray: rgb(113, 118, 123);
  --secondary-gray: #657786;
  --light-gray: #AAB8C2;
  --extra-light-gray: #E1E8ED;
  --blanked-white: rgb(239, 243, 244);
  --white: rgb(255, 255, 255);

  --primary-blue: #1DA1F2;
  --primary-hover: rgba(29, 155, 240, 0.2);

  --green: rgb(0, 186, 124);
  --green-hover: rgba(0, 186, 124, 0.5);

  --red: rgb(249, 24, 128);
  --red-hover: rgba(249, 24, 128, 0.3);

  --modal-background: rgba(91, 112, 131, 0.4)
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  overflow-y: auto;
}

body {
  background-color: var(--black);
  color: var(--extra-light-gray);
  position: relative;
}

body::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}