.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  .policy {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 0.75fr 0.75fr 0.85fr;
  flex-grow: 1;
}
