.tweet {
  display: flex;
  column-gap: 1rem;
  padding: 10px 15px;
  border-bottom: 1px solid var(--dark-gray);

  &__avatar {
    width: 100%;
    min-width: 3rem;
    max-width: 3rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__media {
      margin-top: 1rem;
      border: 1px solid var(--dark);

      img {
        max-height: 25rem;
        width: 100%;
        aspect-ratio: auto;
        border: 3px solid var(--dark);
        border-radius: 20px;
      }
    }

    &__profile-info {
      display: flex;
      column-gap: 0.2rem;
      align-items: center;
      color: var(--gray);

      h4 {
        color: var(--extra-light-gray);
        font-weight: 500;
      }

      &__svg-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        height: 34.75px;
        width: 34.75px;
        cursor: pointer;
        border-radius: 50%;
        transition: all .3s ease-out;

        &:hover {
          background-color: var(--primary-hover);

          svg {
            fill: var(--primary-blue);
          }
        }

        svg {
          height: 18.75px;
          width: 18.75px;
        }
      }
    }

    &__actions {
      display: flex;
      justify-content: space-between;
      margin-right: 2rem;
      margin-top: 0.5rem;

      &__counter {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.45rem;
        color: var(--gray);
        cursor: pointer;

        &--primary:hover {
          div {
            background-color: var(--primary-hover);

            svg {
              fill: var(--primary-blue);
            }
          }

          p {
            color: var(--primary-blue)
          }
        }

        &--red:hover {
          div {
            background-color: var(--red-hover);

            svg {
              fill: var(--red);
            }
          }

          p {
            color: var(--red)
          }
        }

        &--green:hover {
          div {
            background-color: var(--green-hover);

            svg {
              fill: var(--green);
            }
          }

          p {
            color: var(--green)
          }
        }

        p {
          font-size: 0.75rem;
        }

        &__svg-container {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 34.5px;
          width: 34.5px;
          border-radius: 20px;

          svg {
            width: 18.75px;
            height: 18.75px;
          }
        }
      }
    }
  }
}