.sidebar {
  grid-column: 1/2;
  position: relative;

  img {
    width: 1.75rem;
    height: 1.5rem;
  }

  &__wrapper {
    position: absolute;
    top: 10px;
    right: 15rem;
    bottom: 0;

    &__fixed {
      position: fixed;
      display: flex;
      flex-flow: column wrap;
      align-content: flex-end;
      row-gap: 2rem;
      height: 100%;

      button {
        font-weight: 700;
      }
    }
  }

}

