.sidebar {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-end;
  padding-top: 15px;
  row-gap: 2rem;

  grid-column: 1/2;
  margin-right: 4rem;

  img {
    width: 1.75rem;
    height: 1.5rem;
  }
}