.sidebar__element {
  height: 3.25rem;
  border-radius: 30px;
  cursor: pointer;

  &__wrapper {
    padding: 25px 10px;
    height: 1.55rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;

    p {
      font-size: 1.55rem;
      color: var(--extra-light-gray)
    }

    img {
      height: 1.55rem;
      margin-top: 2px;
    }
  }

  &:not(&:first-of-type):hover {
    background-color: var(--dark-gray);
  }


}