.tweet-form {
  display: flex;
  column-gap: 1rem;
  padding: 10px 15px;
  border-bottom: 1px solid var(--dark-gray);

  &__avatar {
    width: 100%;
    min-width: 3rem;
    max-width: 3rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-grow: 1;

    input {
      background-color: var(--black);
      font-size: 1.3rem;
      color: var(--blanked-white);

      &::placeholder {
        color: var(--gray);
      }

      &:focus, &:active {
        border: none;
        outline: none;
      }
    }

    &__actions {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;

      &__icons {
        display: flex;
        column-gap: 1rem;

        img {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}