.input-container {
  display: flex;
  flex-grow: 1;
  padding: 10px 5px;
  border-radius: 20px;
  background-color: var(--lighter-black);
  align-items: center;
  column-gap: 1rem;

  input {
    background-color: var(--lighter-black);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    &::placeholder {
      color: var(--gray);
      font-size: 20px;
    }
  }

  svg {
    margin-left: 1rem;
    fill: var(--gray);
  }
}


.lg {
  height: 3rem;
}