.input {
  background-color: var(--black);
  padding: 12px 15px;
  height: 3.5rem;
  border: 2px solid var(--dark-gray);
  border-radius: 4px;
  width: 100%;
  outline: none;
  font-size: 0.85rem;
  position: relative;
  transition: all .5s ease-out;

  &:hover {
    color: var(--primary)
  }

  &:placeholder-shown {
    color: var(--gray);
  }
}

.input__container {
  &__wrapper {
    position: relative;

    input {
      &:focus {
        border: 2px solid var(--primary-blue);
      }
    }

    &__floating-label {
      position: absolute;
      pointer-events: none;
      top: 12px;
      left: 10px;
      font-size: 1.25rem;
      color: var(--gray);
      transition: 0.2s ease all;
    }

    input:focus ~ &__floating-label,
    input:not(:focus):valid ~ &__floating-label {
      top: 2px;
      left: 10px;
      font-size: 12px;
      opacity: 1;
      color: var(--primary-blue);
    }

    &__counter {
      position: absolute;
      right: 10px;
      top: 5px;
      font-size: 0.75rem;
      color: var(--gray);
    }
  }
}
