.input {
  background-color: var(--black);
  padding: 12px 15px;
  border: 2px solid var(--gray);
  border-radius: 4px;
  width: 100%;
  outline: none;
  font-size: 0.85rem;
  position: relative;

  &:hover {
    color: var(--primary)
  }
}

.input__container {
  input[type="text"]:focus, input[type='email']:focus {
    border: 2px solid var(--primary-blue);
    color: var(--extra-light-gray);

    &::placeholder {
      font-size: 0.55rem;
      position: absolute;
      top: 3px;
      left: 5px;
    }
  }

  input:not(:placeholder-shown)::placeholder {
    font-size: 0.55rem;
    position: absolute;
    top: 3px;
    left: 5px;
  }
}


